aside {
  position: fixed;
  display: grid;
  gap: $flow2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: $aside;
  margin: 0;
  padding: $flow1;
  line-height: 1.2;
  background: var(--g7);
  font-size: 0.85em;
  overflow: hidden;

  .logo {
    margin: $flow2;
    justify-self: center;
    width: 6em;
    z-index: 3;
  }

  .toggles {
    margin-top: $flow2;

    & > * {
      margin-right: 1em;
    }
  }
}

#menu-toggle {
  opacity: 0.001;
  position: absolute;
  width: 1px;
  height: 1px;
}

label[for="menu-toggle"] {
  z-index: 10;
  text-align: right;
  margin-top: $flow2;
  margin-right: $flow1;
  display: none;
}

nav {
  align-self: end;
  padding: $flow1 0;

  li {
    list-style: none;
  }

  a {
    color: var(--g3);
    text-decoration: none;
  }

  & > * {
    padding-left: 0;
    display: block;
    width: 100%;
    text-align: left;

    ul,
    ol {
      border-left: $borderWidth $borderStyle var(--g6);
      padding-left: $flow1;
    }
  }

  [aria-current] {
    color: var(--primary);

    &::after {
      opacity: 1;
    }
  }
}

@media screen and (max-width: $mobile) {
  label[for="menu-toggle"] {
    display: block;
  }

  aside {
    width: 100%;
    height: 100vh;
    z-index: 9;
    padding: 0;
    gap: 0;
    opacity: 0;
    align-content: start;
    pointer-events: none;
  }

  #menu-toggle:checked ~ aside {
    opacity: 1;
    pointer-events: all;
    transition: opacity $colorTransition;
  }

  nav {
    padding: $flow2;
    align-self: start;
    font-size: 1rem;
  }
}
