code,
pre {
  font-size: 0.96em;
  background: var(--g7);
  color: var(--g2);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  overflow-x: auto;
  line-height: 1.4;
  tab-size: 2;
  hyphens: none;
  font-family: "Consolas", monospace;

  &::-webkit-scrollbar {
    display: none;
  }

  span {
    font-family: inherit;
  }
}

pre {
  padding: $flow1;
  border-radius: $borderRadius;
}

:not(pre) > code {
  cursor: text;
  padding: 0.1em 0.2em;
  white-space: normal;
}

.token {
  color: inherit;
  $tag: $accent;
  $attrName: tomato;
  $attrValue: dodgerblue;
  $b: deeppink;
  $d: #4a6597;
  $punctuation: rgba(120, 134, 155, 0.72);

  &.comment,
  &.block-comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: var(--g4);
  }

  &.punctuation {
    color: $punctuation;
  }

  &.tag,
  &.namespace,
  &.deleted,
  &.function-name {
    color: $tag;
  }

  &.boolean,
  &.number,
  &.function,
  &.inserted {
    color: $b;
  }

  &.rule,
  &.function {
    font-weight: $fontWeightMedium;
  }

  &.attr-name,
  &.property,
  &.class-name,
  &.constant,
  &.symbol {
    color: $attrName;
  }

  &.selector,
  &.important,
  &.keyword,
  &.builtin {
    color: $d;
  }

  &.string,
  &.char,
  &.attr-value,
  &.atrule,
  &.regex,
  &.variable {
    color: $attrValue;

    .rule {
      color: var(--g2);
    }
  }

  &.operator,
  &.entity,
  &.url {
    color: $tag;
  }

  &.important,
  &.bold {
    font-weight: $fontWeightHeavy;
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }
}

.dark_mode .token {
  &.comment,
  &.block-comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: var(--g5);
  }
}
