@font-face {
  font-family: "Lora";
  src: url("/_assets/lora-bolditalic.woff2") format("woff2"), url("/_assets/lora-bolditalic.ttf") format("ttf");
  font-weight: $fontWeightHeavy;
  font-style: italic;
  font-display: swap;
}

body {
  line-height: 1.63;
  text-rendering: optimizeSpeed;
  -webkit-font-smooth: subpixel-antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", sans-serif;
}

a {
  color: var(--primary);
  font-weight: $fontWeightMedium;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;

  &:hover,
  &:focus {
    color: var(--accent);
    text-decoration-style: underline;
    text-decoration-color: var(--g0);
  }
}

em {
  color: var(--secondary);
}

ul,
ol {
  padding-left: 1em;
  margin-bottom: 2em;
}

main li {
  margin-top: 0;
  list-style-type: disc;
}

blockquote {
  background: var(--g7);
  color: var(--g2);
  border-radius: $borderRadius;
  padding: $flow1;
  border-left: $borderWidth $borderStyle var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", sans-serif;
  font-style: italic;
  font-weight: $fontWeightHeavy;
  color: var(--g0);
  line-height: 1.2;
  margin-top: 1.37em;
  margin-bottom: 0.37em;
}

h1 {
  margin: 10rem 0;
  font-size: calc(1.85em + 1.85vmin);
  letter-spacing: -0.03em;
  line-height: 1;
}

h2 {
  font-size: calc(1.1em + 1.1vmin);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--g2);
}
