.grid {
  display: grid;
  gap: 4em;
  margin-bottom: 4em;
  grid-template-columns: repeat(auto-fill, minmax(calc(12rem + 14vw), 1fr));
  align-items: start;
  justify-items: start;

  & > * {
    margin-top: 0;
  }
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

[href="undefined"] {
  display: none;
}

.svg.fill {
  fill: currentColor;
}

.svg.stroke path {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.2rem;
  fill-rule: evenodd;
}
