$g0: #121518;
$g1: #1e232b;
$g2: #3a4049;
$g3: #5a6677;
$g4: #828b9c;
$g5: #9faabd;
$g6: #c5cacf;
$g7: #edeef1;
$g8: white;

$primary: #ca994f;
$accent: #9e7f50;

$flow1: 1rem;
$flow2: 2rem;
$flow3: 3rem;
$flow4: 4rem;

$fontWeightRegular: 400;
$fontWeightMedium: 600;
$fontWeightHeavy: 700;

$borderWidth: 0.2rem;
$borderStyle: solid;
$borderRadius: 0.2rem;

$motionTransition: 0.28s cubic-bezier(0.3, 0.3, 0.1, 1.3);
$colorTransition: 0.2s cubic-bezier(0.3, 0.3, 0.1, 1);
$smoothTransition: 0.63s cubic-bezier(0.4, 0.3, 0.1, 1);

$shadow: 0 0.1rem 0.63rem -0.2rem rgba(0, 0, 0, 0.3);
$mobile: 54em;
$aside: 16rem;
